/* src/styles/components/output.css */
.cmd-output {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body);
  display: flex;
  gap: 0.5em;
}

.cmd-output-symbol {
  color: var(--fg-tertiary);
}

.cmd-output-content {
  color: var(--fg-text);
  display: inline-block;
  width: 100%;
}
