/* src/styles/components/progress-bar.css */
.progress-bar {
  width: 200px;
  height: 20px;
  border: var(--stroke-width) solid var(--fg-primary);
  padding: 2px;
  display: inline-block;
}

.progress-fill {
  height: 100%;
  background-color: var(--fg-primary);
  transition: width 0.3s ease;
}

/* Animación para SectionTransition */
.progress-bar.is-animated .progress-fill {
  animation: load-progress 0.5s ease-out forwards;
}

@keyframes load-progress {
  0% { width: 0%; }
  100% { width: 100%; }
}
