/* src/styles/components/prompt.css */
.cmd-prompt {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-prompt);
  font-weight: var(--font-weight-prompt);
  line-height: var(--line-height-prompt);
  display: flex;
  gap: 0.5em;
}

.cmd-prompt-symbol {
  color: var(--fg-primary);
}

.cmd-prompt-text {
  color: var(--fg-text);
}
