.topbar {
  background-color: var(--bg-terminal);
  border-bottom: var(--stroke-width) solid var(--border-dim);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-3);
  position: relative;
  z-index: 110; 
}

.topbar-left, .topbar-right {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

.os-title {
  color: var(--fg-text);
  font-family: var(--font-family);
  text-transform: uppercase;
  font-size: var(--font-size-body);
}

.os-title:hover {
  color: var(--fg-primary);
}

.user-label {
  color: var(--fg-text-muted);
  font-family: var(--font-family);
  font-size: var(--font-size-caption);
}

.menu-toggle {
  background: transparent;
  border: none;
  color: var(--fg-text);
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  cursor: pointer;
  display: none; /* Oculto en Desktop */
}

.menu-toggle:hover {
  color: var(--fg-primary);
}


/* Responsividad Tablet y Phone */
@media (max-width: 768px) {
  .topbar {
    /* Fija la barra en la parte superior para permitir hacer scroll y siempre tener el botón disponible */
    position: sticky;
    top: 0;
  }
  
  .topbar-actions {
    display: flex;
  }


  .menu-toggle {
    display: block; /* Mostrar botón de menú en tablet/phone */
  }

  .user-label {
    display: none; /* Ocultar en mobile para dar espacio al botón MENU */
  }
}

@media (max-width: 402px) {
  .topbar {
    padding: 0 var(--space-3);
  }
}
